- name: Update apt package list
  become: true
  apt:
    update_cache: true
  register: apt_update
  retries: 5
  until: apt_update is success

- name: Upgrade installed packages
  become: true
  apt:
    upgrade: true

- name: Install core packages
  become: true
  apt:
    pkg:
      - wget
      - curl
      - git
      - htop
      - p7zip
      - unzip
      - xclip
      - zsh
      - tmux
      - fzf
      - ripgrep
      - silversearcher-ag
      - autorandr
      - software-properties-common
      - python3-dev
      - python3-pip
      - ninja-build
      - gettext
      - cmake
      - stow
      - direnv
      - nodejs
      - npm
      - golang
      - kitty
      - i3status
      - postgresql
      - postgresql-contrib
      - redis-server
      - just
      - gh
      - wireshark
      - libreoffice
      - fonts-inter
      - mako-notifier
      - sway
      - swaybg
      - swayidle
      - swaylock
      - wl-clipboard
      - wofi
      - xdg-desktop-portal-wlr
