# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = olzhasar
email = o.arystanov@gmail.com
[pull]
	rebase = false
[core]
	excludesFile = /home/olzhas/.gitignore_global
