# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = olzhasar
  email = o.arystanov@gmail.com
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[core]
  excludesfile = ~/.gitignore_global

[alias]
  cleanup = "!git branch --merged | egrep -v '(\\*|master|main|dev|prod|staging)' | xargs -n 1 -r git branch -d"
