- hosts: devmachines

  tasks:
    - name: Update apt package list
      become: true
      apt:
        update_cache: true
      register: apt_update
      retries: 5
      until: apt_update is success

    - name: Upgrade installed packages
      become: true
      apt:
        upgrade: true

    - name: Install core packages
      become: true
      apt:
        pkg:
          - wget
          - curl
          - git
          - htop
          - p7zip
          - unzip
          - xclip
          - zsh
          - tmux
          - fzf
          - ripgrep
          - silversearcher-ag
          - autorandr
          - software-properties-common
          - python3-dev
          - python3-pip
          - ninja-build
          - gettext
          - cmake
          - stow
          - direnv
          - nodejs
          - npm
          - golang
          - kitty
          - postgresql
          - postgresql-contrib
          - redis-server
          - just
          - gh
          - wireshark
          - libreoffice
          - fonts-inter

    - name: Install Rust
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: ~/.cargo/bin/rustc

    - name: Install stylua
      command: ~/.cargo/bin/cargo install stylua
      args:
        creates: ~/.cargo/bin/stylua

    - name: Make zsh default shell
      shell: usermod --shell $(which zsh) {{ ansible_env.USER }}
      become: true
      changed_when: false

    - name: Install oh-my-zsh
      shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
      args:
        creates: ~/.oh-my-zsh

    - name: Install zsh zsh-autosuggestions
      shell: git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
      args:
        creates: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions

    - name: Check neovim
      shell: type nvim
      register: nvim_status
      ignore_errors: true

    - name: Install neovim
      block:
        - name: Clone repo
          git:
            repo: https://github.com/neovim/neovim
            dest: /tmp/neovim
            depth: 1
            version: stable

        - name: Install nvim
          command:
            cmd: make install
            chdir: /tmp/neovim

        - name: Remove nvim tmp directory
          file:
            path: /tmp/neovim
            state: absent

      become: true
      when: nvim_status.rc != 0

    - name: Install tree-sitter-cli
      command: npm install -g tree-sitter-cli
      become: true

    - name: Make common directories
      file:
        name: "{{ item }}"
        state: directory
      loop:
        - ~/dev
        - ~/.config
        - ~/.local/scripts

    - name: Configure dotfiles
      block:
        - name: clone repo
          git:
            dest: ~/.dotfiles
            repo: https://github.com/olzhasar/dotfiles.git
            update: no
        - name: bootstrap
          command:
            cmd: ./bin/stow.sh
            chdir: ~/.dotfiles

    - name: Install Fonts
      block:
        - name: Download font
          get_url:
            url: https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz
            dest: /tmp/

        - name: Create fonts dir
          file:
            path: ~/.fonts
            state: directory

        - name: Extract font archive
          unarchive:
            dest: ~/.fonts
            src: /tmp/JetBrainsMono.tar.xz
            remote_src: true

        - name: Remove archive
          file:
            path: /tmp/JetBrainsMono.tar.xz
            state: absent

        - name: Update font cache
          command:
            cmd: fc-cache -fv

    - name: Check brave browser
      shell: type brave-browser
      register: brave_status
      ignore_errors: true

    - name: Install brave browser
      block:
        - name: Download gpg
          get_url:
            url: https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
            dest: /usr/share/keyrings/

        - name: Add repo to apt sources
          shell: echo "deb [signed-by=/usr/share/keyrings/brave-browser-archive-keyring.gpg] https://brave-browser-apt-release.s3.brave.com/ stable main" | tee /etc/apt/sources.list.d/brave-browser-release.list

        - name: Install
          apt:
            name: brave-browser
            update_cache: true

      become: true
      when: brave_status.rc != 0
